.description__skill {
  font-size: 21px;
  display: grid;
  grid-template: minmax(auto, 350px) / minmax(auto, 150px) minmax(auto, 500px);
}

.skill__language {
  grid-column: 1/2;
  text-align: right;
}
.skill__stars {
  height: 20px;
  grid-column: 2/3;
  margin-left: 40px;
}

.skill__stars img {
  width: 110px;
}

@media (max-width: 768px) {
  .description__skill {
    font-size: 8px;
    display: grid;
    grid-template: 1fr/ minmax(auto, 150px) minmax(auto, 500px);
  }
  
  .skill__language {
    grid-column: 1/2;
    text-align: right;
  }
  .skill__stars {
    height: 8px;
    grid-column: 2/3;
    margin-left: 40px;
  }
  
  .skill__stars img {
    width: 50px;
  }
}