.content__block {
  display: grid;
  grid-template: minmax(auto, 300px) / minmax(auto, 300px) minmax(auto, 800px) minmax(
      auto,
      200px
    );
}

.content__menu {
  grid-column: 1/2;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.content__description {
  grid-column: 2/3;
}

.content__menu a:hover {
  color: turquoise;
}

a.menu__item_activeLink {
  color: turquoise;
}

.menu__item {
  font-size: 19px;
}

@media (max-width: 768px) {
  .content__block {
    display: grid;
    grid-template: minmax(auto, 50px) 1fr / minmax(auto, 100px) 1fr minmax(
        auto,
        20px
      );
  }

  .content__menu {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    text-align: center;
  }

  .content__description {
    padding: 5px 0;
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .content__menu a:hover {
    color: turquoise;
  }

  a.menu__item_activeLink {
    color: turquoise;
  }

  .menu__item {
    font-size: 11px;
    padding: 5px;
  }
}
