.description__work {
  font-size: 18px;
  display: grid;
  grid-template: minmax(auto, 350px) / 1fr minmax(auto, 150px) minmax(auto, 900px) 1fr;
}

.work__date {
  grid-column: 2/3;
  font-weight: 700;
  font-size: 21px;
}

.date__item {
  padding: 0px 0px 10px 0px;
  border-right: 2px solid black;
}

.work__specifical {
  grid-column: 3/4;
  margin-left: 40px;
}

.specifical__item {
  padding: 0px 0px 10px 0px;
}

@media (max-width: 768px) {
  .description__work {
    font-size: 8px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 60px) minmax(auto, 300px) 1fr;
    text-align: center;
  }
  
  .work__date {
    grid-column: 2/3;
    font-weight: 700;
    text-align: justify;
    font-size: 10px;
  }
  
  .date__item {
    padding: 0px 0px 10px 0px;
    border-right: 2px solid black;
    text-align: right;
  }
  
  .work__specifical {
    grid-column: 3/4;
    margin-left: 10px;
    text-align: justify;
    font-size: 10px;
  }
  
  .specifical__item {
    padding: 0px 0px 10px 0px;
  }
}