.description__education{
    font-size: 18px;
    display: grid;
    grid-template: minmax(auto, 350px) / minmax(auto, 150px) minmax(auto, 500px);
}
  
  .education__date {
    grid-column: 1/2;
    font-weight: 700;
    font-size: 21px;
    
  }
  
  .date__item {
    padding: 0px 0px 10px 0px;
    border-right: 2px solid black;
    padding-bottom: 50px;
  }
  
  .education__uneversity {
    grid-column: 2/3;
    margin-left: 40px;
  }
  
  .uneversity__item {
    padding: 0px 0px 10px 0px;
  }

  @media (max-width: 768px) {
    .description__education{
      display: grid;
      grid-template: 1fr / 1fr minmax(auto, 80px) minmax(auto, 240px) 1fr;
  }
    
    .education__date {
      grid-column: 2/3;
      font-weight: 700;
      
      
    }
    
    .date__item {
      padding: 0px 0px 10px 0px;
      padding-bottom: 35px;
      font-size: 10px;
    }
    
    .education__uneversity {
      grid-column: 3/4;
      margin-left: 10px;
      font-size: 10px;
    }
    
    .uneversity__item {
      padding: 0px 0px 10px 0px;
    }
  }